.page {
  font-family: var(--Inter);
  color: var(--text-color);
  font-variation-settings: 'wght' var(--font-weight);
  background-image: linear-gradient(to bottom, #000 25%, var(--accent-color));
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw;
  transition: all ease 0.3s;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: minmax(375px, 1440px) ;
  padding: 10px clamp(0rem, -0.4551rem + 1.9417vw, 1.875rem);
}

.header {
  font-family: var(--Inter);
  font-weight: 400;
  background-color: var(--bg-color);
  position: fixed;
  width: calc(100% - 2 *clamp(0rem, -0.4551rem + 1.9417vw, 1.875rem));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

.header__address_link {
  color: var(--text-color);
  font-size: 12px;
  text-decoration: none;
  border-block-end: 1px solid var(--text-color);
  margin-inline-end: 10px;
}

.header__address_link:focus {
  outline: none;
}

.header__address_link:focus-visible {
  border: 1px solid var(--text-color);
  opacity: 0.6;
  transition: 0.4s;
}

.header__title {
  font-family: var(--Inter);
  font-size: 24px;
  font-variation-settings: 'wght' var(--title-font-weight);
  color: var(--accent-color);
  filter: brightness(3);
  justify-self: center;
  pointer-events: none;
}

:root.theme-light .header__title{
  filter: brightness(1) drop-shadow(0 0 2px #682174);
}

.header__theme-menu {
  justify-self: flex-end;
}

.theme-menu__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  flex-shrink: 0;
}

.theme-menu__button {
  background-color: transparent;
  inline-size: 100%;
  block-size: 100%;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  transform-origin: center;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: 0.4s;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled .moon {
  color: #451e5b;
}

.theme-menu__button:disabled .auto {
  color: #451e5b;
}

.theme-menu__button:disabled .sun {
  color: #451e5b;
}

.theme-menu__button:hover {
  cursor: pointer;
  animation: theme_scale 0.4s;
}

.section{
  font-family: var(--Inter);
  font-weight: 400;
  background-color: var(--bg-color); 
  inline-size: calc(100% - 60px);
  justify-self: center;
  align-self: center;
  padding: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  outline: 2px solid var(--bg-color); 
  margin: 30px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section:first-child{
  margin-block-start: 80px;
}

.section__about_us .section__title{
  margin-block-end: 15px;
}

.section__about_us__content{
  align-self: flex-start;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px;
}

.section__about_us__logo{
  inline-size: 100px;
  block-size: 100px;
}

.slider-container {
  position: relative;
  inline-size: 100%;
  block-size: 420px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-1%);
  font-size: 36px;
  inline-size: 50px;
  block-size: 50px;
  color: var(--bg-color);
  background-color: var(--text-color);
  border-radius: 50px;
  opacity: 0.5;
}

.next-button {
  right: 0px;
}

.portfolio__card-list{
  list-style: none;
  block-size: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin-block-start: 20px;
}

.portfolio__card-list-item{
  color: var(--text-color);
  background-color: var(--accent-color);
  inline-size: 300px;
  block-size: 400px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.portfolio__card-list-item:hover .portfolio__card-list-item_img {
  transform-origin: center;
  scale: 1.2;
}

.portfolio__card-list-item__button{
  background-color: transparent;
  border: none;
}

.portfolio__card-list-item_img {
  inline-size: 100%;
}

.portfolio__card-list-item_text {
  inline-size: 100%;
}

.footer {
  background-color: var(--bg-color);
  margin: 0 clamp(2.125rem, -1.088rem + 13.7089vw, 11.25rem);
  padding: 10px;
  border: 2px solid var(--accent-color); 
  border-radius: 10px;
  outline: 2px solid var(--bg-color); 
}




.dialog {
  background-color: var(--bg-color);
  position: fixed;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

dialog::backdrop { 
  backdrop-filter: brightness(50%);
}

.dialog__close-button{
  position: absolute;
  inset-inline-end: 1px;
  inset-block-start: 1px;
  inline-size: 30px;
  block-size: 30px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 50px;
}

@media (width <= 376px) {
  .header {
    margin-block-end: 15px;
  }

  .section {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid var(--accent-color); 
    margin: 20px 10px;
  }

  .portfolio__card-list {
    flex-direction: column;
    padding-inline-start: 15px;
    gap: 32px;
  }

  .portfolio__card-list-item {
    padding: 10px;
  }
}