.page {
  font-family: var(--Inter);
  font-variation-settings: 'wght' var(--font-weight);
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: all ease-in 0.3s;
  min-inline-size: 320px;
  inline-size: minmax(375px, 1440px) ;
}

.header {
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 10px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}

.header__logo-d2 {
  color: var(--accent-color);
  block-size: 50px;
}

.header__logo-media {
  color: var(--text-color);
  inline-size: 78px;
}

.header__address{
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.header__address_link {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  block-size: 25px;
  align-self: center;
  margin-inline-end: 10px;
  position: relative;
  margin-inline-start: 15px;
}

.header__address_link::before {
  content: '';
  display: block;
  inline-size: 0%;
  block-size: 2px;
  color: var(--text-color);
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -3px;
  transition: all 0.5s;
}

.header__address_link:hover::before {
  inline-size: 100%;
  background-color: var(--text-color);
  transition: all 0.5s;
}

.header__address_link:focus {
  outline: none;
}

.header__address_link:focus-visible {
  border: 1px solid var(--text-color);
  opacity: 0.6;
  transition: 0.4s;
}

.phone {
  display: flex;
  flex-direction: row;
  margin-inline-start: 60px;
  flex-shrink: 0;
}

.icon-link {
  display: flex;
  justify-content: center;
}

.icon {
  color: var(--text-color);
  inline-size: 40px;
}

.icon:hover {
  animation: scale 0.4s;
}

.header__theme-menu{
  justify-self: flex-end;
}

.theme-menu__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 5px;
  flex-shrink: 0;
}

.theme-menu__button {
  background-color: transparent;
  inline-size: 100%;
  block-size: 100%;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  transform-origin: center;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: 0.4s;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled .moon {
  color: red;
}

.theme-menu__button:disabled .auto {
  color: red;
}

.theme-menu__button:disabled .sun {
  color: red;
}

.theme-menu__button:hover {
  cursor: pointer;
  animation: scale 0.4s;
}

.scrolling-text-container {
  cursor: default;
  margin: 150px 0 80px;
  block-size: 150px;
  overflow: hidden;
}

.scrolling-text-inner {
  display: flex;
  white-space: nowrap;
}

.scrolling-text {
  display: flex;
}

.scrolling-text-item {
  padding: 0 50px;
}

.scrolling-text-inner>div {
  animation: marquee_motion 20s linear infinite;
}

.running-line-text {
  font-size: 120px;
  text-align: flex-end;
  flex-shrink: 0;
}

.running-line-accent {
  font-size: 40px;
  line-height: 80%;
  block-size: 120px;
  flex-shrink: 0;
  text-align: center;
  align-self: center;
  padding: 40px 80px;
  outline: 2px solid var(--text-color);
  border-radius: 150px;
}

.scrolling-heart {
  display: grid;
  align-items: center;
  justify-content: center;
}

.heart {
  inline-size: 150px;
  block-size: 150px;
  color: red;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}

.section__slogan {
  font-family: var(--font-family);
  font-weight: var(--titlefont-weight);
  font-size: 60px;
  cursor: default;
  inline-size: 40%;
}

.section__portfolio {
  background-color: var( --accent-color);
  inline-size: 50%;
  block-size: 400px;
  border-radius: 20px;
  padding: 30px 40px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.section__portfolio:hover {
  background-color: var( --bg-color);
  outline: 2px solid var(--text-color);
  transition: all ease 0.3s;
  cursor: pointer;
}

.section__portfolio:visited {
  text-decoration: none;
}

.section__portfolio-text {
  font-weight: var(--titlefont-weight);
  font-size: 40px;
  inset-block-end: 15px;
  color: black;
  position: relative;
}

.section__portfolio:hover .section__portfolio-text {
  color: var(--text-color);
  transition: all 0.5s;
}

.section__portfolio-text::before{
  content: '';
  display: block;
  inline-size: 0%;
  block-size: 2px;
  color: black;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -3px;
  transition: inline-size 0.3s, opacity 0.3s;
}

.section__portfolio:hover .section__portfolio-text::before{
  inline-size: 100%;
  background-color: var(--text-color);
  transition: all 0.5s, opacity 0.3s;
}

@media (width <= 1102px) {
  .header {
    background-color: var(--bg-color);
    z-index: 1;
  }

  .header__address{
    flex-direction: column;
    gap: 5px;
  }

  .header__address_link {
    font-size: 14px;
    block-size: 15px;
    align-self: flex-start;
    margin: 0;
    position: relative;
  }  

  .phone {
    margin: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-link:not(:first-child){
    margin-inline-start: 10px;  
  }

  .icon {
    inline-size: 25px;
    block-size: 25px;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .section__slogan {
    inline-size: 100%;
  }

  .section__portfolio {
    inline-size: 100%;
  }
}

@media (width <= 565px) {
  .header {
    padding: 10px;
  }

  .header__logo{
    align-self: flex-end;
  }

  .header__logo-d2 {
    block-size: 40px;
    inline-size: 75px;
  }
  
  .header__logo-media {
    block-size: 14px;
    inline-size: 39px;
  }

  .phone {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .theme-menu__list {
    list-style: none;
    display: flex;
    flex-direction: column ;
  }
}