:root.theme-light {
  --font-weight: 400;
  --title-font-weight: 700;
  --bg-color: #ededed;
  --text-color: #000;
  --card-bg-color: #cccccc;
  --card-bg-image: linear-gradient(to bottom, transparent 75%, var(--accent-color));

}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight: 400;
    --title-font-weight: 700;
    --bg-color: #ededed;
    --text-color: #000;
    --card-bg-color: #cccccc;
    --card-bg-image: linear-gradient(to bottom, transparent 75%, var(--accent-color));
  }
}

:root.theme-dark {
    --font-weight: 465;
    --title-font-weight: 785;
    --bg-color: #101010;
    --text-color: #fff;
    --bg-image: linear-gradient(to bottom, #020202 45%, var(--accent-color));
    --card-bg-color: #2b2a2a;
    --card-bg-image: linear-gradient(to bottom, transparent 75%, var(--accent-color));
}
  
@media (prefers-color-scheme: dark) {
    :root {
      --font-weight: 465;
      --title-font-weight: 785;
      --bg-color: #000;
      --text-color: #fff;
      --bg-image: linear-gradient(to bottom, #000 45%, var(--accent-color));
      --card-bg-color: #2b2a2a;
      --card-bg-image: linear-gradient(to bottom, transparent 75%, var(--accent-color));
    }
}