:root{
  --Inter: 'Inter', Sans-serif;
  --PressStart2P: 'PressStart2P', fantasy;
  --font-weight: 400;
  --title-font-weight: 700;
  --bg-color: #fff;
  --text-color: #000;
  --accent-color: #cc4e00;
}   